* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
    text-align: center;
}

header {
    padding: 50px;
    background-color: rgb(25, 10, 246);
    color: white;
}

footer {
    padding: 25px;
    background-color: black;
    color: white;
}

h2 {
    margin-bottom: 15px;
    font-weight: 900;
}

section {
    margin: 30px auto;
    width: 80%;
}

.card {
    padding: 40px;
    border-radius: 10px;
}

.education { background-color: rgb(129, 194, 255); }
.skills { background-color: rgb(205, 249, 123); }
.projects { background-color: rgb(207, 136, 187); }
.contact { background-color: rgb(120, 112, 206); }

.box {
    background-color: white;
    margin: 10px auto;
    padding: 12px;
    width: 60%;
    border-radius: 5px;
    font-size: 18px;
}

.intro {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: black;
}
